.loader {
    border-top-color: #4f78a0;
    /* border-top-color: #673278; */

    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Styles for auth */
.auth-bg {
    background-image: url('../img/auth-bg.jpg');
    background-size: cover;
    background-position: center center;
    height: auto;
}

.auth-form {
    background-image: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    min-height: 560px;
    background-color: #f6fbfe;
}

.form-img {
    background-image: none;
}

.login {
    background-image: none;
}

.form-container {
    display: block;
}

.auth-w-900 {
    max-width: 900px;
}

input:checked + svg {
    display: block;
}

@media (min-height: 650px) {
    .auth-bg {
        height: 100vh;
    }
}

@media (min-width: 1024px) {
    .form-img {
        background-image: url('../img/Blue_Green_Experiences_Outdoors.png');
    }
    .login {
        background-image: url('../img/Man_and_Woman_on_Ferris_Wheel.png');
    }
    .auth-w-900 {
        min-width: 900px;
    }
}

@media (max-width: 1023px) {
    .form-container {
        margin: auto;
    }
}

.outline:focus {
    outline: auto;
    outline-color: rgb(61, 181, 231);
}
.outline-red:focus {
    outline: auto;
    outline-color: rgb(251, 43, 43);
}

button:focus {
    outline: none;
}

/* input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: auto;
    outline-color: rgb(61, 181, 231);
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
} */

/* dx-file-upload-start */
input[type='file'] {
    min-height: 165px;
}

/* .dx-fileuploader-container {
    background: url(http://www.myiconfinder.com/uploads/iconsets/256-256-37736f35fd7d98b10b35287679b223b8.png);
    background-size: 165px;
    background-repeat: no-repeat;
    background-position: top;
    
} */

.dx-fileuploader-input-wrapper .dx-button {
    width: 100%;
    margin-top: 230px;
    background-color: transparent;
    border: none;
}
/* dx-file-upload-end */

/* dx-switch-start */
.dx-switch-on,
.dx-switch-off {
    font-size: 18px;
}

.dx-switch-container {
    padding: 2px 2px;
    height: auto;
}

.dx-switch-handle {
    margin: auto;
    height: 20px;
}
/* dx-switch-end */
.bgSelect {
    background: #337ab7;
    color: white;
    padding: 8px;
}
